In [1]:
import numpy as np
import pandas as pd

In [3]:
anime=pd.read_csv("C:\\Users\\ASUS\\Downloads\\datasets\\Anime collab\\anime.csv")

In [4]:
anime

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266
...,...,...,...,...,...,...,...
12289,9316,Toushindai My Lover: Minami tai Mecha-Minami,Hentai,OVA,1,4.15,211
12290,5543,Under World,Hentai,OVA,1,4.28,183
12291,5621,Violence Gekiga David no Hoshi,Hentai,OVA,4,4.88,219
12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,4.98,175
12293,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,5.46,142

In [5]:
ratings=pd.read_csv("C:\\Users\\ASUS\\Downloads\\datasets\\Anime collab\\ani_rating.csv")

In [6]:
ratings

         user_id  anime_id  rating
0              1        20      -1
1              1        24      -1
2              1        79      -1
3              1       226      -1
4              1       241      -1
...          ...       ...     ...
7813732    73515     16512       7
7813733    73515     17187       9
7813734    73515     22145      10
7813735    73516       790       9
7813736    73516      8074       9

[7813737 rows x 3 columns]

In [7]:
anime.isnull().sum()

anime_id      0
name          0
genre        62
type         25
episodes      0
rating      230
members       0
dtype: int64

In [8]:
ratings.isnull().sum()

user_id     0
anime_id    0
rating      0
dtype: int64

In [9]:
anime.duplicated().sum()

0

In [10]:
ratings.duplicated().sum()

1

In [12]:
ratings.drop_duplicates(inplace=True)

In [13]:
ratings

         user_id  anime_id  rating
0              1        20      -1
1              1        24      -1
2              1        79      -1
3              1       226      -1
4              1       241      -1
...          ...       ...     ...
7813732    73515     16512       7
7813733    73515     17187       9
7813734    73515     22145      10
7813735    73516       790       9
7813736    73516      8074       9

[7813736 rows x 3 columns]

In [22]:
x=ratings["user_id"].value_counts()>200

In [23]:
x[x]

48766    True
42635    True
53698    True
57620    True
59643    True
         ...
31783    True
55374    True
23203    True
49616    True
44107    True
Name: user_id, Length: 11193, dtype: bool

In [24]:
x[x].shape

(11193,)

In [25]:
y=x[x].index

In [26]:
ratings=ratings[ratings["user_id"].isin(y)]
ratings

         user_id  anime_id  rating
302            5         6       8
303            5        15       6
304            5        17       6
305            5        18       6
306            5        20       6
...          ...       ...     ...
7813330    73507      8231       5
7813331    73507      8348       5
7813332    73507      8440       7
7813333    73507      8769       8
7813334    73507     10067       5

[4172305 rows x 3 columns]

In [30]:
anime.drop(["genre","type","episodes","rating","members"],axis=1,inplace=True)

In [32]:
main_df=ratings.merge(anime,on="anime_id")
main_df

,user_id,anime_id,rating,name
0,5,6,8,Trigun
1,17,6,7,Trigun
2,129,6,9,Trigun
3,160,6,7,Trigun
4,226,6,8,Trigun
...,...,...,...,...
4172293,69964,32087,6,Osomatsu-kun (1988): Appare! Chibita no Onitai...
4172294,69964,32088,6,Osomatsu-kun: Iyami wa Hitori Kaze no Naka
4172295,70463,29481,-1,Kakinoki Mokkii
4172296,72404,34412,-1,Hashiri Hajimeta bakari no Kimi ni
4172297,72800,30738,4,Gamba: Gamba to Nakama-tachi

In [33]:
num_of_ratings=main_df.groupby("anime_id")["rating"].count().reset_index().rename(columns={"rating":"no_of_ratings"})
num_of_ratings

       anime_id  no_of_ratings
0             1           4994
1             5           2782
2             6           4209
3             7           1351
4             8            277
...         ...            ...
11184     34367              5
11185     34412              1
11186     34475              4
11187     34476              1
11188     34519              1

[11189 rows x 2 columns]

In [34]:
final_df=main_df.merge(num_of_ratings,on="anime_id")
final_df

,user_id,anime_id,rating,name,no_of_ratings
0,5,6,8,Trigun,4209
1,17,6,7,Trigun,4209
2,129,6,9,Trigun,4209
3,160,6,7,Trigun,4209
4,226,6,8,Trigun,4209
...,...,...,...,...,...
4172293,69964,32087,6,Osomatsu-kun (1988): Appare! Chibita no Onitai...,1
4172294,69964,32088,6,Osomatsu-kun: Iyami wa Hitori Kaze no Naka,1
4172295,70463,29481,-1,Kakinoki Mokkii,1
4172296,72404,34412,-1,Hashiri Hajimeta bakari no Kimi ni,1
4172297,72800,30738,4,Gamba: Gamba to Nakama-tachi,1

In [35]:
final_df=final_df[final_df.no_of_ratings>=50]
final_df

         user_id  anime_id  rating               name  no_of_ratings
0              5         6       8             Trigun           4209
1             17         6       7             Trigun           4209
2            129         6       9             Trigun           4209
3            160         6       7             Trigun           4209
4            226         6       8             Trigun           4209
...          ...       ...     ...                ...            ...
4163747    59453      1208       5  Tatsu no Ko Tarou             51
4163748    60387      1208       9  Tatsu no Ko Tarou             51
4163749    61560      1208      10  Tatsu no Ko Tarou             51
4163750    66161      1208       7  Tatsu no Ko Tarou             51
4163751    66237      1208       8  Tatsu no Ko Tarou             51

[4103805 rows x 5 columns]

In [36]:
final_df.drop_duplicates(["user_id","anime_id"],inplace=True)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_27496\2420150966.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.drop_duplicates(["user_id","anime_id"],inplace=True)

In [37]:
pivot_df=final_df.pivot_table(columns="user_id",index="name",values="no_of_ratings")
pivot_df

user_id,5,7,17,38,43,46,54,123,129,139,...,73460,73462,73476,73477,73485,73491,73499,73502,73503,73507
name,,,,,,,,,,,,,,,,,,,,,
&quot;Bungaku Shoujo&quot; Kyou no Oyatsu: Hatsukoi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,626.0,NaN,NaN
&quot;Bungaku Shoujo&quot; Memoire,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
&quot;Bungaku Shoujo&quot; Movie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1137.0,NaN,NaN
.hack//G.U. Returner,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
.hack//G.U. Trilogy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
xxxHOLiC,2679.0,NaN,NaN,NaN,2679.0,NaN,NaN,NaN,NaN,NaN,...,NaN,2679.0,NaN,NaN,2679.0,NaN,NaN,2679.0,2679.0,2679.0
xxxHOLiC Kei,NaN,NaN,NaN,NaN,1976.0,NaN,NaN,NaN,NaN,NaN,...,NaN,1976.0,NaN,NaN,1976.0,NaN,NaN,1976.0,1976.0,1976.0
xxxHOLiC Movie: Manatsu no Yoru no Yume,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1395.0,NaN,NaN,1395.0,NaN,NaN,1395.0,NaN,1395.0
xxxHOLiC Rou,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1040.0,NaN
xxxHOLiC Shunmuki,NaN,NaN,NaN,NaN,1297.0,NaN,NaN,NaN,NaN,NaN,...,NaN,1297.0,NaN,NaN,NaN,NaN,NaN,1297.0,1297.0,1297.0

In [38]:
pivot_df.fillna(0,inplace=True)

In [39]:
from scipy.sparse import csc_matrix
movie_sparse=csc_matrix(pivot_df)

In [40]:
movie_sparse

<5307x11193 sparse matrix of type '<class 'numpy.float64'>'
	with 4103805 stored elements in Compressed Sparse Column format>

In [41]:
from sklearn.neighbors import NearestNeighbors
model=NearestNeighbors(algorithm="brute")

In [42]:
model.fit(movie_sparse)

NearestNeighbors(algorithm='brute')

In [43]:
distances,suggestions=model.kneighbors(pivot_df.iloc[1,:].values.reshape(1,-1),
                                       n_neighbors=6)

In [44]:
distances

array([[    0.        , 12678.94005822, 15968.97855218, 16012.87269668,
        16013.2154485 , 16037.60580635]])

In [45]:
suggestions

array([[   1,    0, 1997, 2460, 1084, 3133]], dtype=int64)

In [46]:
def recommend_movie(movie_name):
    movie_id=np.where(pivot_df.index==movie_name)[0][0]
    distances,suggestions=model.kneighbors(pivot_df.iloc[movie_id,:].values.reshape(1,-1),n_neighbors=6)
    for i in range(len(suggestions)):
        if i==0:
            print("movies are")
        if not i:
            h=(pivot_df.index[suggestions[i]])
            for i in range(len(h)):
                print(h[i])

In [60]:
recommend_movie("Kimi no Na wa.")

movies are
Kimi no Na wa.
Zutto Mae kara Suki deshita.: Kokuhaku Jikkou Iinkai
Kingsglaive: Final Fantasy XV
Kuroko no Basket: Saikou no Present Desu
Harmony
Doukyuusei (Movie)

In [48]:
anime

       anime_id                                               name
0         32281                                     Kimi no Na wa.
1          5114                   Fullmetal Alchemist: Brotherhood
2         28977                                           Gintama°
3          9253                                        Steins;Gate
4          9969                                      Gintama&#039;
...         ...                                                ...
12289      9316       Toushindai My Lover: Minami tai Mecha-Minami
12290      5543                                        Under World
12291      5621                     Violence Gekiga David no Hoshi
12292      6133  Violence Gekiga Shin David no Hoshi: Inma Dens...
12293     26081                   Yasuji no Pornorama: Yacchimae!!

[12294 rows x 2 columns]

In [56]:
import joblib

In [57]:
joblib.dump(pivot_df,"pivot_anime_collab")

['pivot_anime_collab']

In [58]:
joblib.dump(model,"model_anime_collab")

['model_anime_collab']

In [59]:
joblib.dump(anime,"df_anime_collab")

['df_anime_collab']

In [78]:
def recommend_movie(movie_name):
    movie_id=np.where(pivot_df.index==movie_name)[0][0]
    distances,suggestions=model.kneighbors(pivot_df.iloc[movie_id,:].values.reshape(1,-1),n_neighbors=7)
#     print(suggestions[0])
    for i in range(1,len(suggestions[0])):
        if i==0:
            print("movies are")
        if i!=0:
            h=(pivot_df.index[suggestions[0][i]])
            
            print(h)

In [79]:
recommend_movie("Dragon Ball")

Dragon Ball GT
Dragon Ball Z
Pokemon
Digimon Adventure
Digimon Adventure 02
Yuu☆Yuu☆Hakusho